@import "../config/conversion";
@import "../config";

.view-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;

  .companies-row {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px rgb(0 0 0 / 7%);

    @media screen and (min-width: 768px) {
      box-shadow: unset;
      border-radius: 0;
      padding: pxToRem(23) pxToRem(25) pxToRem(31) pxToRem(23);
    }

    .teaser {
      padding: 0;
      max-width: 30rem;
      transition: 500ms ease-in-out;

      @media screen and (min-width: $container-tablet) {
        border-radius: pxToRem(20);
        padding: 2.3rem 2.5rem 3.1rem 2.3rem;
      }

      .teaser-title {
        padding-bottom: pxToRem(22);

        .field--name-title {
          font-size: 20px;
          line-height: 16px;
          font-family: $font-family-Ro;
          font-style: normal;
          font-weight: 700;

          @media screen and (min-width: $mq-desktop) {
            font-size: $font-size-xl;
            line-height: pxToRem(20);
          }
        }
      }

      .teaser-industry {
        padding-bottom: pxToRem(19);

        .field--name-field-industry {
          border-left: pxToRem(4) solid $yellow;
          display: flex;
          padding-left: pxToRem(9);
          height: pxToRem(20);
          align-items: center;
          font-family: Roboto, serif;
          font-style: normal;
          font-weight: 700;
          line-height: pxToRem(14);
          font-size: 14px;
          @media screen and (min-width: $mq-desktop) {
            font-size: $font-size-m;
          }
        }
      }

      .teaser-body {
        .field--name-body {
          p {
            font-family: $font-family-Ro;
            font-style: normal;
            font-weight: 400;
            font-size: $font-size-m;
            line-height: pxToRem(20);
          }
        }
      }

      &:hover {
        @media (min-width: $mq-desktop) {
          display: block;
          background: $white;
          box-shadow: pxToRem(5) pxToRem(5) pxToRem(50) rgb(0 0 0 / 7%);
          transition: 500ms ease-in-out;
        }
      }
    }
  }
}
