
{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{{ attach_library('onboarding/tabs') }}

{% block content %}
  {% if content %}
    <nav class="nav-tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ content }}
    </nav>
  {% endif %}
{% endblock %}
