@import "../config/conversion";
@import "../config";

.view-header {
  display: none;
}

.view-content {
  display: flex;
  flex-direction: column;
  gap: pxToRem(16);

  .views-row {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: pxToRem(64) 1fr;
    gap: pxToRem(1) pxToRem(16);
    height: 100%;
    padding: pxToRem(8);
    background: $light-grey;
    border-radius: pxToRem(14);
    transition: background 0.5s;

    &:hover {
      background: $white;
    }

    .views-field-field-image {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 3;
      grid-column-end: 2;

      img {
        width: pxToRem(64);
        height: pxToRem(64);
        border-radius: pxToRem(12);
      }
    }

    .views-field-title {
      grid-row-start: 1;
      grid-column-start: 2;
      align-self: end;
      grid-row-end: 2;
      grid-column-end: 3;

      a {
        font-family: $font-family-Ar;
        font-style: normal;
        font-weight: 700;
        font-size: $font-size-m-l;
        line-height: pxToRem(17);
      }
    }

    .views-field-field-start-date {
      grid-row-start: 2;
      grid-column-start: 2;
      grid-row-end: 3;
      grid-column-end: 3;
      font-family: $font-family-Ro;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: pxToRem(15);
      display: flex;
      align-items: center;
      gap: pxToRem(8);

      &::before {
        content: url("../../images/calendar.png");
      }
    }
  }
}
