@import "../config/conversion";
@import "../config";

.location-data {
  padding: 1.8rem 3.1rem 1.9rem 3rem;
  background-color: $light-grey;
  margin-left: 4.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: pxToRem(10);
  border-radius: pxToRem(14);

  @media screen and (min-width: $container-tablet) {
    padding: pxToRem(18) pxToRem(31) pxToRem(19) pxToRem(77);
    background-color: unset;
    border-radius: 0;
    margin-left: 0;
  }

  &::before {
    content: url("../../images/Location-icon.png");
    position: absolute;
    left: pxToRem(-45);
    top: 50%;
    transform: translateY(-50%);

    @media screen and (min-width: $container-tablet) {
      left: 0;
    }
  }

  &:hover {
    box-shadow: none;
  }

  &-body {
    display: none;
  }

  .location-title {
    padding-bottom: 0;

    .field--name-title {
      font-family: $font-family-Ar;
      font-style: normal;
      font-weight: 700;
      font-size: $font-size-m-l;
      line-height: pxToRem(17);
    }
  }

  .location-type {
    padding: 0;

    .field--name-field-event-type {
      font-family: $font-family-Ro;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: pxToRem(15);
      border: none;
      padding-left: 0;
    }
  }
}
