@import "../config/conversion";
@import "../config";

.layout-sidebar-first {
  #block-views-block-news-new-sidebar-block {
    h2 {
      margin: 0;
      padding-bottom: 50px;
    }

    .view-content {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .views-row {
        .views-field-field-image {
          img {
            width: 100%;
          }
        }

        .views-field-title {
          padding-top: 16px;

          a {
            font-family: $font-family-Ar;
            font-size: 18px;
            font-weight: 600;
            line-height: 31px;
            letter-spacing: 0;
            text-align: left;
          }
        }

        .views-field-body {
          padding-bottom: 20px;

          p {
            font-family: $font-family-Ro;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0;
            text-align: left;
            max-width: 270px;
          }
        }

        .views-field-view-node {
          a {
            font-family: $font-family-Ro;
            font-size: 10px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 2px;
            text-align: left;
            display: flex;
            align-items: center;

            &:after {
              display: inline-block;
              padding-left: 0;
              content: "";
              height: 1rem;
              width: 2rem;
              background-size: 3rem;
              background: url("../../images/arrow-black-small.png") no-repeat;
              transform: translateX(10px);
              transition: all 0.3s ease;
            }

            &:hover {
              &:after {
                transform: translateX(15px);
                transition: all 0.3s ease;
              }
            }
          }
        }
      }
    }
  }
}
