
{{ attach_library("onboarding/company-teaser") }}
<a href="{{ url }}">
  <div class="teaser">
    <div class="teaser-title">{{ label }}</div>
    <div class="teaser-industry">  {{ content.field_industry }}</div>
    <div class="teaser-body">  {{ content.body }}</div>
  </div>
</a>



