
{{ attach_library("onboarding/location-sidebar") }}
<a href="{{ url }}">
  <div class="location-data">
    <div class="location-title"> {{ label }}</div>
    <div class="location-type"> {{ content.field_event_type }}</div>
  </div>
</a>
