@import "../config/conversion";
@import "../config";

.flag-bookmark {
  position: absolute;
  top: pxToRem(-45);
  right: 0;
  display: flex;
  align-items: center;
  justify-content: end;

  &.action-unflag {
    .favourites-icon {
      background: $light-grey url("../../images/favourites-icon.png") no-repeat center;
    }
  }

  a {
    display: flex;
    align-items: center;
    overflow: hidden;

    .favourites-text {
      transition: transform 0.5s ease;
      transform: translateX(pxToRem(169));
      z-index: 1;
      padding: pxToRem(12) 0 pxToRem(12) pxToRem(12);
      display: flex;
      height: pxToRem(20);
      align-items: center;
      border-radius: pxToRem(10) 0 0 pxToRem(10);
      background-color: $light-grey;
    }

    .favourites-icon {
      padding: pxToRem(12);
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 2;
      border-radius: pxToRem(10);
      margin-right: pxToRem(-1);
      background: $light-grey url("../../images/favourites-icon-fill.png") no-repeat center;
      width: pxToRem(15);
      height: pxToRem(20);
    }

    &:hover {
      .favourites-text {
        transition: transform 0.5s ease;
        transform: translateX(pxToRem(1));
      }

      .favourites-icon {
        border-radius: 0 pxToRem(10) pxToRem(10) 0;
      }
    }
  }
}

/*
  a {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    direction: rtl;
    color: rgba(255, 255, 255, 0);
    transition: transform .5s ease-in;
    transform: translateX(60px);
    pointer-events: none;
    overflow: hidden;
    font-family: $font-family-Ar;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;

  }

  &:hover {
    transition: width .5s ease-in;
    cursor: pointer;
    width: 120px;

    a {
      transform: translateX(-25px);
      width: auto;
      transition: transform .5s ease-in;
    }
  }

  &:before {
    background: url("../../images/favourites-icon.png") no-repeat;
    content: "";
    width: 15px;
    height: 20px;
    transition: all 0.5s ease-out;
    position: inherit;
  }
}
*/
