@import "../config/conversion";
@import "../config";

/**
 * @file
 * Throbber.
 */

.ajax-progress {
  display: inline-block;
  padding: pxToRem(1) pxToRem(5) pxToRem(2) pxToRem(5);
}

[dir="rtl"] .ajax-progress {
  float: right;
}

.ajax-progress-throbber .throbber {
  display: inline;
  padding: pxToRem(1) pxToRem(6) pxToRem(2);
}

.ajax-progress-throbber .message {
  display: inline;
  padding: pxToRem(1) pxToRem(5) pxToRem(2);
}

tr .ajax-progress-throbber .throbber {
  margin: 0 pxToRem(2);
}

.ajax-progress-bar {
  width: 16em;
}

/* Full screen throbber */
.ajax-progress-fullscreen {
  position: fixed;
  z-index: 1000;
  width: pxToRem(80);
  height: pxToRem(80);
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  top: 50%;
  justify-content: center;
  align-items: center;

  &::after {
    content: " ";
    display: block;
    width: pxToRem(64);
    height: pxToRem(64);
    margin: pxToRem(8);
    border-radius: 50%;
    border: pxToRem(6) solid;
    border-color: #25aae1 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

[dir="rtl"] .ajax-progress-fullscreen {
  right: 49%;
  left: auto;
}
