@import "../config/conversion";
@import "../config";

.field--name-field-comments {
  article {
    margin-bottom: pxToRem(25);

    .comment__meta {
      article {
        margin: 0;
      }

      p {
        font-family: $font-family-Ar;
        font-size: $font-size-s;
        font-weight: 400;
        line-height: pxToRem(16);
        letter-spacing: 0;
        text-align: left;
        padding: 0 0 pxToRem(7) pxToRem(13);

        a {
          display: inherit;
        }

        @media screen and (min-width: $container-tablet) {
          font-size: $font-size-m-l;
        }
      }

      a {
        display: none;
      }
    }

    .content {
      padding: pxToRem(13);
      background-color: $light-grey;
      border-radius: pxToRem(20);

      h3 {
        margin: 0 0 pxToRem(10);

        a {
          font-family: $font-family-Ar;
          font-size: $font-size-m;
          font-weight: 700;
          line-height: pxToRem(14);
          letter-spacing: 0;
          text-align: left;
          text-transform: capitalize;
        }
      }

      .field--name-comment-body {
        margin-bottom: pxToRem(9);

        p {
          font-family: $font-family-Ar;
          font-size: $font-size-s;
          font-weight: 400;
          line-height: pxToRem(16);
          letter-spacing: 0;
          text-align: left;
        }
      }

      .flag-like {
        display: inline;
        padding: 0 0 0 1.7em;

        &.action-flag {
          a {
            &::before {
              content: "";
              top: pxToRem(1);
              left: pxToRem(-16);
              width: pxToRem(12);
              height: pxToRem(11);
              position: absolute;
              background-image: url("../../images/like-icon.png");
            }
          }
        }

        &.action-unflag {
          a {
            &::before {
              content: "";
              top: pxToRem(1);
              left: pxToRem(-16);
              width: pxToRem(12);
              height: pxToRem(11);
              position: absolute;
              background-image: url("../../images/unlike-icon.png");
              background-repeat: no-repeat;
              transform: translateY(-2px);
            }
          }
        }

        a {
          font-family: $font-family-Ar;
          font-size: $font-size-default;
          font-weight: 400;
          line-height: pxToRem(23);
          letter-spacing: 0;
          text-align: left;
          position: relative;
        }
      }

      .links {
        text-transform: uppercase;

        li {
          position: relative;
          padding: 0 0 0 3.6em;

          a {
            font-family: $font-family-Ar;
            font-size: $font-size-default;
            font-weight: 400;
            line-height: pxToRem(23);
            letter-spacing: 0;
            text-align: left;
            position: relative;

            &::before {
              content: "";
              top: pxToRem(1);
              left: pxToRem(-17);
              width: pxToRem(9);
              height: pxToRem(9);
              position: absolute;
            }
          }

          &.comment-delete {
            a {
              &::before {
                background-image: url("../../images/delete-icon.png");
              }
            }
          }

          &.comment-edit {
            a {
              &::before {
                content: "";
                background-image: url("../../images/edit-icon.png");
              }
            }
          }

          &.comment-reply {
            a {
              &::before {
                content: "";
                background-image: url("../../images/reply-icon.png");
              }
            }
          }
        }
      }
    }
  }

  .indended {
    margin-left: pxToRem(14);
  }

  .comment-form__title {
    margin-top: pxToRem(53);
    font-family: $font-family-Ar;
    font-size: $font-size-m-xl;
    font-weight: 600;
    line-height: pxToRem(18);
    letter-spacing: 0;
    text-align: left;
  }

  form {
    .field--name-subject {
      margin-top: pxToRem(28);
    }

    .form-item {
      display: flex;
      flex-direction: column;

      label {
        font-family: $font-family-Ar;
        font-size: $font-size-s;
        font-weight: 400;
        line-height: pxToRem(16);
        letter-spacing: 0;
        text-align: left;

        @media screen and (min-width: $container-tablet) {
          font-size: $font-size-m-l;
        }
      }

      input,
      textarea {
        background: $light-grey;
        border: 2px solid $light-grey;
        border-radius: pxToRem(10);
        margin-top: pxToRem(4);
        height: pxToRem(30);
        padding: 0 pxToRem(10);
        box-sizing: border-box;
        font-size: $font-size-s;
        @media screen and (min-width: $container-tablet) {
          width: 50%;
          height: pxToRem(50);
          font-size: $font-size-m-l;
          padding: pxToRem(10);
          margin-top: pxToRem(7);
        }
      }

      textarea {
        height: pxToRem(90);
        @media screen and (min-width: $container-tablet) {
          width: 100%;
          height: pxToRem(150);
          padding: pxToRem(5);
        }
      }
    }

    .filter-wrapper {
      display: none;
    }

    .form-actions {
      display: flex;
      flex-direction: row-reverse;

      input {
        font-family: $font-family-Ru;
        font-style: normal;
        font-weight: 500;
        font-size: $font-size-default;
        line-height: pxToRem(10);
        letter-spacing: pxToRem(1);
        text-transform: uppercase;
        background: black;
        color: white;
        border: 0;
        border-radius: pxToRem(10);
        padding: pxToRem(7) pxToRem(16);
      }
    }
  }
}
