@import "../config/conversion";
@import "../config";

#block-cto {
  .field--name-body {
    padding: pxToRem(139) 0 pxToRem(50);

    .cto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 29.3rem;
      margin: 0 auto;
      text-align: center;
      position: relative;

      @media (min-width: $container-tablet) {
        height: 46.8rem;
        padding-bottom: 4.7rem;
        max-width: 57rem;
        width: 100%;
      }

      &::after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 11.6rem;
        height: 11.6rem;
        left: -1.5rem;
        bottom: 50%;
        border-radius: 34rem;
        background-color: $yellow;

        @media (min-width: $container-tablet) {
          width: 34rem;
          height: 34rem;
          left: -10.2rem;
          bottom: 14.5rem;
        }
      }

      .cto-buttons {
        padding-top: 0;
        width: 20.3rem;
        display: flex;
        justify-content: space-between;

        @media (min-width: $container-tablet) {
          width: 27.3rem;
        }
      }

      .cto-button-first {
        width: 9.2rem;
        letter-spacing: 0.2rem;
        font-size: $font-size-xs-s;
        line-height: 2.4rem;
        background: $white;
        border: 0.1rem solid #000;
        box-sizing: border-box;
        border-radius: 2rem;
        transition: 500ms ease-in-out;

        @media (min-width: $container-tablet) {
          z-index: 2;
          width: 12rem;
          height: 3.9rem;
          font-size: $font-size-default;
        }

        &:hover {
          background: $black;
          color: $white;
          transition: 500ms ease-in-out;
        }
      }

      .cto-button-second {
        width: 9.9rem;
        letter-spacing: 0.2rem;
        font-size: $font-size-xs-s;
        z-index: 2;
        line-height: 2.4rem;
        background: #000;
        border-radius: 2rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;

        @media (min-width: $container-tablet) {
          width: 13.1rem;
          height: 3.9rem;
          font-size: $font-size-default;
          line-height: 1.8rem;
        }

        &::after {
          content: "\27F6";
          font-size: $font-size-s;
          padding-left: 0.7rem;
          padding-bottom: 0.6rem;
        }
      }

      h2 {
        font-size: $font-size-m-xl;
        line-height: 4.2rem;
        margin: 0 0 0.6rem;
        z-index: 2;
        font-family: $font-family-Ar;
        font-style: normal;
        font-weight: 600;
        text-align: center;

        @media (min-width: $container-tablet) {
          font-size: $font-size-xxxl-s;
          font-weight: 500;
          margin: 0 0 1rem;
        }
      }

      p {
        font-size: $font-size-m;
        line-height: 2.2rem;
        padding-bottom: 2.5rem;
        z-index: 2;
        font-family: $font-family-Ru;
        font-style: normal;
        font-weight: 400;
        text-align: center;

        @media (min-width: $container-tablet) {
          font-size: 1.8rem;
          line-height: 2.4rem;
          font-weight: 400;
          padding-bottom: 3rem;
          text-align: center;
        }
      }
    }
  }
}
