@import "../config";
@import "../config/conversion";

.field--type-faqfield {
  h3 {
    font-family: $font-family-Ar;
    font-style: normal;
    font-weight: 600;
    letter-spacing: pxToRem(-0.5);
    background-color: transparent;
    border: none;
    color: black;
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: pxToRem(23) !important;
    font-size: $font-size-m !important;
    line-height: 14px;
    padding: 0 !important;
    @media screen and (min-width: $container-tablet) {
      font-size: pxToRem(22) !important;
      line-height: pxToRem(34);
      margin-top: pxToRem(38) !important;
    }

    .ui-icon {
      background: url("../../images/path.png") white no-repeat !important;
      transform: rotate(180deg);
      width: pxToRem(22);
      height: pxToRem(8);
      background-size: pxToRem(14) pxToRem(8);
      transition: all 0.5s ease-out;
      @media screen and (min-width: $container-tablet) {
        width: pxToRem(14);
      }
    }

    &.ui-state-active {
      .ui-icon {
        transform: rotate(0deg);
        transition: all 0.5s ease-out;
      }
    }
  }

  .ui-accordion-content {
    border: none !important;
    padding: 1em 0 !important;

    p {
      font-family: $font-family-Ru;
      font-style: normal;
      font-weight: 400;
      color: #666 !important;
      font-size: $font-size-m !important;
      line-height: pxToRem(20);
      max-width: pxToRem(270);
      @media screen and (min-width: $container-tablet) {
        font-size: pxToRem(17) !important;
        line-height: pxToRem(31);
        max-width: unset;
      }
    }
  }
}
