@import "../config/conversion";
@import "../config";

.region-hero {
  //height: 26.7rem;
  display: flex;
  border-radius: 0 0 0 6rem;
  margin-left: pxToRem(8);
  flex-direction: column;
  height: pxToRem(266);
  padding: pxToRem(85) pxToRem(30) pxToRem(42) pxToRem(22);
  box-sizing: border-box;

  @media (min-width: $mq-desktop) {
    padding: pxToRem(340) pxToRem(122) pxToRem(165);
    border-radius: 0 0 0 9rem;
    margin: auto auto auto 1.8rem;
    height: unset;
  }

  @media (min-width: $container) {
    padding: pxToRem(340) 0 pxToRem(165);
    border-radius: 0 0 0 9rem;
    margin: auto auto auto 1.8rem;
    height: unset;

    .region-hero-container {
      width: 100%;
      max-width: $container;
      margin: 0 auto;
    }
  }

  div[id*="block-title"] {
    //margin: 8.6rem 0 0 4rem;
    color: white;

    p {
      width: 20rem;
      font-size: 2rem;
      color: black;
      font-weight: 700;
      line-height: 2rem;

      @media (min-width: $mq-desktop) {
        max-width: 51.7rem;
        font-size: 4.8rem;
        color: white;
        line-height: 5.2rem;
        width: 100%;
      }
    }
  }

  .form--inline {
    display: flex;
    align-items: flex-end;
    width: 30rem;

    //justify-content: space-between;
    padding-top: pxToRem(50);

    @media (min-width: $mq-desktop) {
      max-width: 80rem;
      width: 100%;
      padding-top: pxToRem(135);
      gap: pxToRem(10);
    }

    .form-item {
      margin: 0;
      width: 100%;
      max-width: pxToRem(290);

      label {
        display: none;
      }

      input {
        width: 8rem;
        height: 1.6rem;
        background-color: transparent;
        outline: none;
        font-size: 1rem;
        font-family: $font-family-Ru;
        border: none;
        border-bottom: 0.1rem solid black !important;

        @media (min-width: $mq-desktop) {
          width: 100%;
          max-width: 29rem;
          height: 3.3rem;
          border: none;
          border-bottom: 0.3rem solid black !important;
          font-size: $font-size-m;
          padding: 0;
        }
      }

      select {
        width: 10.5rem;
        height: 1.9rem;
        border: 0;
        border-bottom: 0.1rem solid black !important;
        background-color: transparent;
        outline: none;
        font-size: 1rem;
        font-family: $font-family-Ru;

        @media (min-width: $mq-desktop) {
          width: 27.8rem;
          height: 3.8rem;
          border-bottom: 0.3rem solid black !important;
          font-size: $font-size-m;
        }
      }
    }

    .form-actions {
      margin: 0;
      position: relative;

      &::after {
        display: inline-block;
        padding-left: 0;
        transform: translateX(-280%) translateY(-50%);
        content: "";
        background: no-repeat url("../../images/Arrow-right-white.png");
        transition: all 0.3s ease;
        opacity: 0;
        position: absolute;
        height: 1rem;
        width: 3rem;
        top: 50%;
        background-size: 3rem;
      }

      &:hover {
        width: pxToRem(130);
        transition: width 0.3s ease;

        &::after {
          transform: translateX(-4.2rem) translateY(-50%);
          opacity: 1;
        }
      }

      input {
        width: 5.9rem;
        height: 2rem;
        background: #000;
        border-radius: 2rem;
        color: white;
        font-family: $font-family-Ru;
        font-size: $font-size-xs;
        letter-spacing: pxToRem(2);
        border: none;


        @media (min-width: $mq-desktop) {
          width: 10rem;
          height: 3.8rem;
          border: none;
          font-size: $font-size-s;
          font-weight: 500;
          position: relative;
          text-align: left;
          padding-left: 20px;
          transition: all 0.3s ease;

          &:hover {
            width: pxToRem(130);
            transition: width 0.3s ease;
          }
        }
      }
    }
  }
}
