@import "../config/conversion";
@import "../config";

.block-language {
  position: fixed !important;
  left: 0;
  top: pxToRem(300);
  z-index: 1;
  background-color: #eee;
  padding: pxToRem(6) pxToRem(6);
  height: pxToRem(24);
  width: pxToRem(26);
  border-radius: 0 pxToRem(15) pxToRem(15) 0;
  transition: all 0.3s linear;
  box-sizing: border-box;
  cursor: pointer;
  @media screen and (min-width: $container-tablet) {
    top: pxToRem(324);
    padding: pxToRem(17) pxToRem(13.57);
    height: pxToRem(55);
    width: pxToRem(50);
  }

  .links {
    padding: 0;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

    li {
      display: block;
      text-decoration: none;
      opacity: 0;
      transition: all 0.3s linear;
      transition-delay: 0s;
      margin: 0;

      a {
        font-family: $font-family-Ru;
        font-size: $font-size-xs-s;
        font-weight: 500;
        line-height: pxToRem(9.5);
        letter-spacing: 0.05em;
        text-align: left;

        @media screen and (min-width: $container-tablet) {
          font-size: $font-size-m-l;
          line-height: pxToRem(19);
        }
      }

      &.de {
        overflow: hidden;
        text-transform: uppercase;
      }

      &:not(.is-active) {
        transform: translateX(pxToRem(-50));
        order: 2;

        a {
          color: #666;

          &:hover {
            color: black;
          }
        }
      }

      &.is-active {
        transition-delay: 0s;
        opacity: 1;
        order: 1;
      }
    }
  }

  &:hover {
    height: pxToRem(50);

    @media screen and (min-width: $container-tablet) {
      height: pxToRem(90);
    }

    .links {
      li {
        transition: all 0.5s linear;
        transition-delay: 1s;
        opacity: 1;

        &:not(.is-active) {
          transition: all 0.5s linear;
          transition-delay: 1s;
          transform: translateX(0);
        }
      }
    }
  }
}
