@import "../config/conversion";
@import "../config";

/* The Modal (background) */
.active,
.demo:hover {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 21;
  padding-top: pxToRem(213);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  @media screen and (min-width: $container-tablet) {
    padding-top: pxToRem(267);
  }

  /* The Close Button */
  .close {
    color: black;
    position: absolute;
    font-size: $font-size-xxl;
    font-weight: bold;
    right: pxToRem(23);
    top: pxToRem(23);

    @media screen and (min-width: $container-tablet) {
      right: pxToRem(47);
      top: pxToRem(32);
    }

    &:hover,
    &:focus {
      color: $medium-light-grey;
      text-decoration: none;
      cursor: pointer;
    }
  }

  /* Modal Content */
  .modal-content {
    max-width: pxToRem(250);
    position: relative;
    background-color: #fefefe;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width: $container-tablet) {
      max-width: pxToRem(870);
    }

    /* Hide the slides by default */
    .mySlides {
      //display: none;
      max-width: pxToRem(870);
      margin: 0 auto;
      height: 0;
      position: relative;
      justify-content: center;
      align-items: center;
      opacity: 0;
      animation: fadeOut ease 1s;

      &.active {
        display: flex;
        animation: fadeIn ease 1s;
        opacity: 1;
        height: pxToRem(164);

        @media screen and (min-width: $container-tablet) {
          height: pxToRem(570);
        }

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        @keyframes fadeOut {
          0% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }

        img {
          width: 100%;
          height: 100%;
        }

        .numbertext {
          color: black;
          font-size: $font-size-s;
          padding: pxToRem(8) pxToRem(12);
          position: absolute;
          bottom: pxToRem(-30);
          display: block;
          @media screen and (min-width: $container-tablet) {
            bottom: pxToRem(-50);
          }
        }
      }

      img {
        border: 0;
        max-width: pxToRem(860);
        width: 0;
        height: 0;
        object-fit: contain;
        max-height: pxToRem(574);
        border-radius: pxToRem(20);
      }

      /* Number text (1/3 etc) */
      .numbertext {
        color: black;
        font-size: $font-size-s;
        padding: pxToRem(8) pxToRem(12);
        position: absolute;
        bottom: pxToRem(-30);
        display: none;
        @media screen and (min-width: $container-tablet) {
          bottom: pxToRem(-50);
        }
      }
    }

    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      width: auto;
      padding: pxToRem(16);
      margin-top: pxToRem(0);
      color: black;
      font-weight: bold;
      font-size: $font-size-m-xl;
      transition: 0.6s ease;
      border-radius: 0 pxToRem(3) pxToRem(3) 0;
      user-select: none;
      top: pxToRem(65);

      @media screen and (min-width: $container-tablet) {
        margin-top: pxToRem(-50);
        top: pxToRem(335);
      }
    }

    /* Position the "next button" to the right */
    .next {
      right: pxToRem(-50);
      @media screen and (min-width: $container-tablet) {
        right: pxToRem(-200);
      }
    }

    .prev {
      left: pxToRem(-50);
      @media screen and (min-width: $container-tablet) {
        left: pxToRem(-200);
      }
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      //background-color: rgba(0 0 0 / 80%);
    }

    .column {
      display: flex;
      justify-content: space-around;
      padding-top: pxToRem(38);
      @media screen and (min-width: $container-tablet) {
        padding-top: pxToRem(113);
      }

      .demo {
        img {
          width: pxToRem(39);
          height: pxToRem(30);
          object-fit: cover;
          border-radius: pxToRem(5);
          opacity: 0.5;

          @media screen and (min-width: $container-tablet) {
            width: pxToRem(105);
            height: pxToRem(80);
            border-radius: pxToRem(10);
          }
        }

        &.active {
          img {
            opacity: 1;
            filter: drop-shadow(5px 4px 30px rgba(0, 0, 0, 25%));
          }
        }
      }
    }
  }
}

img.demo {
  opacity: 0.6;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
