@import "../config";
@import "../config/conversion";

#block-onboarding-page-title {
  padding-top: pxToRem(50);

  @media (min-width: $container-tablet) {
    padding-top: pxToRem(100);
  }

  .page-title {
    font-size: $font-size-l;
    margin: 0;
    line-height: 2.7rem;

    @media (min-width: $container-tablet) {
      font-size: $font-size-xxl-s;
      line-height: 4.8rem;
    }
  }
}
