@import "../config/conversion";
@import "../config";

.splide {
  width: 99.55vw;
  padding: 0;
  position: relative;
  left: calc(-50vw + 50%);
  margin: 0;

  &__arrows {
    .splide__arrow {
      transform: rotate(180deg);
      bottom: pxToRem(-12.5);
      top: unset;
      background-color: transparent;
      opacity: 1;
      justify-content: center;
      align-items: center;
      font-size: pxToRem(30);
      padding: 0;
      display: flex;
      height: auto;
      width: 1.2rem;

      @media screen and (min-width: $container-tablet) {
        bottom: pxToRem(135);
        width: pxToRem(110);
        height: pxToRem(10);
        transform: rotate(0deg);
      }

      &--prev {
        right: 7rem;
        left: unset;
        @media screen and (min-width: $container-tablet) {
          left: pxToRem(180);

          &::after {
            content: "PREV.";
            padding-left: pxToRem(14);
            font-size: 1.5rem;
          }
        }
      }

      &--next {
        right: 5rem;
        @media screen and (min-width: $container-tablet) {
          left: pxToRem(330);

          &::before {
            content: "NEXT";
            padding-right: pxToRem(14);
            font-size: 1.5rem;
          }
        }
      }

      svg {
        height: 0.3em;
        width: 3.3em;
        fill: black;
        transition: all 0.3s ease-out;
      }

      transition: all 0.3s ease-out;

      &:hover {
        color: black;
        transition: all 0.3s ease-out;

        svg {
          fill: black;
          transition: all 0.3s ease-out;
        }
      }
    }
  }

  &__slide {
    margin-left: pxToRem(8);
    background-color: #faf9f9;
    border-radius: 0 0 0 pxToRem(60);

    @media screen and (min-width: $container-tablet) {
      border-radius: 0 0 0 pxToRem(90);
      margin-left: pxToRem(20);
    }

    &__container {
      display: flex;
      height: pxToRem(266);
      justify-content: space-between;
      @media screen and (min-width: $container-tablet) {
        max-height: 100%;
        height: pxToRem(841);
        max-width: $container;
        margin: 0 auto;
      }

      .slide__content__left {
        max-width: pxToRem(211);
        padding-left: pxToRem(41);
        padding-top: pxToRem(100);

        @media screen and (min-width: $container-tablet) {
          max-width: pxToRem(517);
          height: pxToRem(250);
          padding-left: 0;
          padding-top: pxToRem(332);
        }

        .field--name-field-title {
          font-family: Archivo, serif;
          font-style: normal;
          font-weight: 700;
          font-size: $font-size-m-xl;
          line-height: pxToRem(20);

          @media screen and (min-width: $container-tablet) {
            font-size: $font-size-xxxl;
            line-height: pxToRem(52);
          }
        }

        .field--name-field-text {
          padding-top: pxToRem(10);
          font-family: $font-family-Ru;
          font-style: normal;
          font-weight: 400;
          font-size: $font-size-xs-m;
          line-height: pxToRem(13);
          @media screen and (min-width: $container-tablet) {
            padding-top: pxToRem(20);
            font-size: pxToRem(18);
            line-height: pxToRem(24);
          }
        }

        .field--name-field-link {
          cursor: pointer;
          padding-top: pxToRem(22);

          a {
            padding: 0 pxToRem(9);
            background: #000;
            color: white;
            display: block;
            border-radius: pxToRem(20);
            width: pxToRem(74);
            align-items: center;
            font-family: Rubik, serif;
            font-style: normal;
            font-weight: 500;
            line-height: pxToRem(24);
            text-transform: uppercase;
            font-size: $font-size-xs;
            letter-spacing: pxToRem(1);
            transition: all 0.3s ease-out;
            box-sizing: border-box;
            position: relative;

            @media screen and (min-width: $container-tablet) {
              font-size: $font-size-s;
              padding: pxToRem(7) pxToRem(10);
              letter-spacing: pxToRem(2);
              width: pxToRem(110);
            }

            &::after {
              display: inline-block;
              padding-left: 0;
              transform: translateX(-100%);
              content: "";
              background: no-repeat url("../../images/Arrow-right-white.png");
              transition: all 0.3s ease-out;
              opacity: 0;
              position: absolute;
              height: pxToRem(10);
              width: pxToRem(25);
              top: 42.5%;
              background-size: pxToRem(25);
            }

            &:hover {
              width: pxToRem(160);

              &::after {
                transform: translateX(pxToRem(18));
                opacity: 1;
              }
            }
          }
        }
      }

      .slide__content__right {
        display: flex;
        align-items: flex-end;

        img {
          width: auto;
          height: pxToRem(160);
          @media screen and (min-width: $container-tablet) {
            width: unset;
            height: unset;
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}
