@import "../config/conversion";
@import "../config";

.nav-tabs {
  background-color: black;
  color: white;
  border-radius: 0 20px 20px 0;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 144px;
  width: 230px;
  box-sizing: border-box;
  transform: translateX(-240px);
  transition: all 500ms ease;
  z-index: 2;

  h2 {
    position: inherit;
    font-family: $font-family-Ru;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-align: left;
    margin: 0;
    padding-bottom: 16px;

    &.visually-hidden {
      position: initial !important;
      overflow: visible;
      width: unset;
      height: unset;
      clip: unset;
    }
  }

  .tabs {
    &.primary {
      display: flex;
      flex-direction: column;

      li {
        padding: 2.5px 0;
        color: white;

        a {
          color: white;
          border-radius: 7px;
          padding: 6px 8px;
          font-family: $font-family-Ru;
          font-size: 12px;
          font-weight: 500;
          line-height: 14px;
          letter-spacing: 0.02em;
          text-align: left;
          transition: all 500ms ease;

          &:hover {
            background: #FFFFFF;
            color: black;
            transition: all 500ms ease;
          }
        }

        &.is-active {
          a {
            background: #FFFFFF;
            color: black;
            transition: all 500ms ease;
          }
        }
      }
    }
  }

  &:after {
    content: "";
    background-image: url("../../images/chevron.png");
    height: 20px;
    width: 12px;
    display: block;
    position: absolute;
    right: -66px;
    background-repeat: no-repeat;
    padding: 30px 30px 30px 24px;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    border-radius: 0 15px 15px 0;
    background-position: 25px 50%;
    cursor: pointer;

  }

  &:hover {
    transform: translateX(0px);
    transition: all 500ms ease;
  }
}
