@use "../mixins/form-mixin";
@import "../config";
@import "../config/conversion";

#block-onboarding-page-title {
  padding-top: 8.3rem;
}

.node__meta {
  display: none;
}

form {
  .webform-progress {
    .webform-progress-tracker {
      margin: pxToRem(25) auto;
    }
  }

  #edit-contact-information {
    @include form-mixin.form-item;

    input,
    textarea {
      @media screen and (min-width: $container-tablet) {
        width: 50%;
      }
    }
  }

  div[id*="edit-feedback"] {
    fieldset {
      legend {
        .fieldset-legend {
          font-family: $font-family-Ar;
          font-size: $font-size-s;
          font-weight: 400;
          line-height: pxToRem(16);
          letter-spacing: 0;
          text-align: left;
          @media screen and (min-width: $container-tablet) {
            font-size: $font-size-m-l;
          }
        }
      }

      &.form-radios-age {
        .form-radios {
          grid-template-columns: repeat(auto-fit, minmax(pxToRem(50), 1fr)) !important;
        }
      }

      .fieldset-wrapper {
        .form-radios {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(pxToRem(100), 1fr));
          gap: pxToRem(5);
          margin-top: pxToRem(5);

          .webform-options-display-buttons-wrapper {
            display: block;
            margin: 0;
            height: pxToRem(50);

            .form-item {
              margin: 0;

              label {
                padding: 0;
                font-family: $font-family-Ar;
                font-size: $font-size-s;
                font-weight: 400;
                line-height: pxToRem(16);
                letter-spacing: 0;
                text-align: left;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                box-sizing: border-box;
                border-radius: pxToRem(10);

                .description {
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  div[id*="edit-actions"] {
    @include form-mixin.submit-button;
  }
}
