@import "../config/conversion";
@import "../config";

@mixin form-item {
  .form-item {
    display: flex;
    flex-direction: column;
    margin-top: 2.3rem;

    label {
      font-family: $font-family-Ar;
      font-size: $font-size-s;
      font-weight: 400;
      line-height: pxToRem(16);
      letter-spacing: 0;
      text-align: left;
      padding-left: 10px;
      @media screen and (min-width: $container-tablet) {
        font-size: $font-size-m-l;
      }
    }

    input,
    textarea {
      background: $light-grey;
      border: pxToRem(2) solid $light-grey;
      border-radius: pxToRem(10);
      margin-top: pxToRem(4);
      height: pxToRem(30);
      padding: 0 pxToRem(10);
      box-sizing: border-box;
      font-size: $font-size-s;
      @media screen and (min-width: $container-tablet) {
        height: pxToRem(50);
        font-size: $font-size-m-l;
        padding: pxToRem(10);
        margin-top: pxToRem(7);
      }
    }

    textarea {
      height: pxToRem(90);
      @media screen and (min-width: $container-tablet) {
        width: 100%;
        height: pxToRem(150);
        padding: pxToRem(5);
      }
    }
  }
}

@mixin submit-button {
  input {
    font-family: $font-family-Ru;
    font-size: $font-size-default;
    font-weight: 500;
    line-height: pxToRem(10);
    letter-spacing: pxToRem(1);
    background: #000;
    border-radius: pxToRem(10);
    border: navajowhite;
    color: white;
    width: pxToRem(59);
    height: pxToRem(24);
    text-align: center;

    @media screen and (min-width: $container-tablet) {
      width: pxToRem(92);
      height: pxToRem(38);
      font-size: $font-size-s;
      border-radius: pxToRem(20);
    }
  }
}
