{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% set classes = [
  'region',
  'region-' ~ region|clean_class,
] %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="region-header-branding">
      {{ elements.onboarding_branding }}


      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="nav">
      <div class="nav__content">
        {{ elements.onboarding_main_menu }}

        <div class="nav__quote">
          {{ elements.menuquote }}
          {{ elements.menucontactus }}

        </div>
      </div>

    </div>
  </div>
{% endif %}
