@import "config";

.overflow {
  overflow: hidden;
  transition: 500ms ease-in-out;
}

html {
  font-family: $font-family-Ar;
  font-size: $font;
  color: $black;
  overflow-x: hidden;

  body {
    &.stop-scrolling {
      height: 100%;
      overflow: hidden;
    }

    .region-content {
      margin: 0 30px;

      @media screen and (min-width: $container) {
        max-width: $container;
        width: 100%;
        margin: 0 auto;
      }
    }

    // containers
    main {
      &.has-sidebar {
        flex-direction: column;
        margin: 0 30px;
        display: flex;
        justify-content: space-between;
        padding: 84px 0 0;
        overflow: hidden;
        gap: 40px;

        @media screen and (min-width: $container-tablet) {
          padding: 224px 0 0;
          margin: 0 50px;
          overflow: unset;
          flex-direction: column;
        }

        @media screen and (min-width: 991px) {
          flex-direction: row;
        }

        @media screen and (min-width: 1280px) {
          padding: 224px 0 0;
          overflow: unset;
        }

        @media screen and (min-width: 1500px) {
          margin: 0 auto;
          max-width: $container;
        }



        .region-sidebar-first {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          gap: 50px;
          padding-top: 50px;
          @media screen and (min-width: $container-tablet) {
            padding-top: unset;
          }
        }

        #block-onboarding-page-title {
          padding-top: 0;
        }

        #main-content {
          display: none;
        }

        .layout-content {
          .region-content {
            //max-width: $container-content-sidebar;
            //width: 100%;
            max-width: 862px;
            margin: 0;
          }
        }

        .layout-sidebar-first {
          max-width: 100%;
          width: 100%;

          @media screen and (min-width: $mq-desktop) {
            max-width: $container-sidebar;
          }
        }
      }
    }

    // headings
    h1 {
      font-weight: 700;
      font-size: 4.8rem;
      line-height: 5.2rem;
      margin: 0;
    }

    h2 {
      font-weight: 600;
      font-size: 3.6rem;
      line-height: 4.2rem;
    }

    p {
      font-weight: 400;
      font-size: 2.4rem;
      margin: 0;
    }

    a:link {
      text-decoration: none;
      color: $black;
    }

    a:visited {
      text-decoration: none;
      color: $black;
    }

    p.paragraph-hidden {
      display: none;
    }

    .showMore {
      margin-top: 25px;
      font-family: $font-family-Ru;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 10px;

      &::after {
        content: "";
        background: url("../images/Path.png") no-repeat;
        width: 10px;
        height: 5px;
        background-size: 10px 5px;
        transform: rotate(180deg);
      }

      &.open {
        &::after {
          transform: rotate(0deg);
        }
      }
    }

    .contextual-region {
      position: initial;
    }
  }
}
