@import "./config/conversion";
@import "./base";

.path-companies {
  .region-hero {
    background: $bg-companies url("../dist/images/kindpng_3485613.png") no-repeat bottom 8rem right -4.7rem;
    background-size: 19.1rem;

    @media (min-width: $mq-desktop) {
      background: $bg-companies url("../images/kindpng_3485613.png") no-repeat bottom 24.8rem right 4.5rem;
    }
  }

  .region-content {
    #block-onboarding-content {
      .view-header {
        font-family: $font-family-Ru;
        font-style: normal;
        font-weight: 400;
        font-size: $font-size-s;
        line-height: pxToRem(24);

        @media (min-width: $mq-desktop) {
          font-size: $font-size-l;
          display: block;
          line-height: 4.8rem;
          font-family: $font-family-Ru;
        }
      }

      .view-content {
        .views-infinite-scroll-content-wrapper {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(pxToRem(299), 1fr));
          gap: 3.1rem;
          padding-top: pxToRem(40);

          .views-row {
            display: block;

            @media (min-width: $mq-desktop) {
              display: unset;
            }
          }

          &::after {
            display: none;
          }
        }
      }
    }
  }
}
