// colors
$white: #fff;
$black: #000;
$circle: #ffc107;
$yellow: #ffc107;
$champagne: #d8d2b0;
$blue: #acd5e8;
$grey: #f9f9f9;
$light-grey: #f5f5f7;
$medium-light-grey: #999;
$dark-grey: #444;

// background-colors
$bg-home: #eee;
$bg-companies: rgb(185 173 111 / 55%);
$bg-events: rgb(104 181 214 / 56%);
$bg-footer: #f9f9f9;

// fonts
$font: 62.5%;
$font-family-Ar: "Archivo", sans-serif;
$font-family-Ru: "Rubik", sans-serif;
$font-family-Ro: "Roboto", sans-serif;

// font sizes
$font-size-xs: 0.7rem;
$font-size-xs-s: 0.8rem;
$font-size-xs-m: 0.9rem;
$font-size-default: 1rem;
$font-size-s: 1.2rem;
$font-size-m: 1.4rem;
$font-size-m-l: 1.6rem;
$font-size-m-xl: 2rem;
$font-size-l: 2.4rem;
$font-size-l-l: 2.5rem;
$font-size-xl: 2.6rem;
$font-size-xxl: 3.5rem;
$font-size-xxl-s: 3.6rem;
$font-size-xxxl-s: 4.2rem;
$font-size-xxxl: 4.8rem;

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;700;900&display=swap"); // Archivo font
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap"); // Rubik font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;900&display=swap"); // Roboto font

// container
$container: 1380px;
$container-big: 1660px;
$container-content-sidebar: 860px;
$container-sidebar: 345px;
$container-tablet: 768px;

// media
$mq-desktop: 768px;
