@import "config/conversion";
@import "config";

.path-events {
  .region-hero {
    background: $bg-events url("../images/pngguru.png") no-repeat bottom 6.7rem right;
    background-size: 9.8rem;

    @media screen and (min-width: $container-tablet) {
      background: $bg-events url("../images/pngguru.png") no-repeat bottom -0.9rem right;
    }
  }

  .region-content {
    #block-onboarding-content {
      .view-header {
        font-family: $font-family-Ru;
        font-style: normal;
        font-weight: 400;
        font-size: $font-size-s;
        line-height: pxToRem(24);

        @media screen and (min-width: $container-tablet) {
          font-size: $font-size-l;
          display: block;
          line-height: 4.8rem;
          font-family: $font-family-Ru;
        }
      }

      .view-content {
        .views-infinite-scroll-content-wrapper {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-row-gap: 2.7rem;
          padding-top: pxToRem(40);

          @media screen and (min-width: 600px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3rem;
          }

          @media screen and (min-width: $container-tablet) {
            grid-template-columns: repeat(1, 1fr);
          }

          @media screen and (min-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
          }

          .views-row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 1.5rem;
            direction: ltr;
            position: relative;
            width: 100%;
            color: $black;

            @media screen and (min-width: $container-tablet) {
              a {
                color: $black;
              }

              height: unset;
              width: unset;
              grid-column-gap: 0;
              background-color: #f9f9f9;
              transition: all 300ms linear;
              direction: rtl;
              border-radius: 2rem;
            }

            &.animation:not(.no-animation) {
              animation-duration: 0.5s;
              animation-name: animate-pop;
              animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
            }

            @keyframes animate-pop {
              0% {
                opacity: 0;
                transform: scale(0.5, 0.5);
              }

              100% {
                opacity: 1;
                transform: scale(1, 1);
              }
            }

            .views-field-field-image {
              grid-area: 1 / 1 / 4 / 2;
              width: 100%;
              height: 20rem;

              @media screen and (min-width: $container-tablet) {
                height: 39.7rem;
                width: 100%;
              }

              img {
                height: 20rem;
                width: 100%;
                border-radius: 2rem;
                object-fit: cover;

                @media screen and (min-width: $mq-desktop) {
                  height: 39.7rem;
                  border-radius: 0 2rem 2rem 0;
                }
              }
            }

            .views-field-field-start-date {
              background-color: #f9f9f9;
              border-radius: pxToRem(20) pxToRem(20) 0 0;
              padding: pxToRem(28) pxToRem(15) 0;
              font-family: Roboto, serif;
              font-style: normal;
              font-weight: 400;
              font-size: 11px;
              line-height: pxToRem(13);
              @media screen and (min-width: $container-tablet) {
                font-size: 18px;
                line-height: pxToRem(21);
                border-radius: unset;
                background-color: unset;
              }
            }

            .views-field-title {
              font-size: $font-size-m;
              line-height: pxToRem(18);
              display: flex;
              align-items: center;
              font-family: Archivo, Helvetica, sans-serif;
              font-style: normal;
              font-weight: 700;
              background-color: #f9f9f9;
              padding: 0 pxToRem(15);
              @media screen and (min-width: $container-tablet) {
                font-size: 21px;
                line-height: pxToRem(26);
                background-color: unset;
                padding: 0;
                z-index: 3;
              }
            }

            .views-field-view-node {
              background-color: #f9f9f9;
              font-size: $font-size-xs-s;
              line-height: pxToRem(9);
              letter-spacing: 0.2em;
              text-transform: uppercase;
              padding: 0 pxToRem(15) pxToRem(28);
              display: flex;
              align-items: flex-end;
              font-family: Rubik, serif;
              font-style: normal;
              font-weight: 500;
              border-radius: 0 0 pxToRem(20) pxToRem(20);

              @media screen and (min-width: $container-tablet) {
                font-size: $font-size-s;
                line-height: pxToRem(14);
                border-radius: 0;
                background-color: unset;
              }

              a {
                position: relative;

                &::after {
                  display: inline-block;
                  padding-left: 0;
                  transform: translateX(10px) translateY(-50%);
                  content: "";
                  transition: all 0.3s ease;
                  position: absolute;
                  height: 1rem;
                  width: 2rem;
                  top: 49%;
                  background-size: 3rem;
                  background: url("../images/Arrow-right-black.png") no-repeat -10px;

                  @media screen and (min-width: $container-tablet) {
                    top: 50%;
                  }
                }
              }
            }

            &:hover {
              @media screen and (min-width: $container-tablet) {
                background-color: $black;
                transition: all 300ms linear;
                color: white;
                cursor: pointer;
                border-radius: 2rem;

                a {
                  transition: all 300ms linear;
                  color: white;
                }
              }

              .views-field-field-image {
                .field-content {
                  position: relative;
                }
              }
            }

            .event-data {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              background-color: #f9f9f9;
              padding: 2.3rem 1.6rem 1.9rem;
              border-radius: 20rem;
              @media screen and (min-width: $container-tablet) {
                background-color: unset;
                padding: 3.2rem 0 3.2rem 3.2rem;
              }

              .field--name-field-start-date {
                font-size: 1.1rem;
                line-height: 1.3rem;
                font-weight: 400;
                justify-content: flex-start;
                display: flex;
                font-family: $font-family-Ro;
                @media screen and (min-width: $container-tablet) {
                  justify-content: flex-end;
                  font-size: 1.8rem;
                }

                .field__item {
                  direction: ltr;
                }
              }

              .field--name-title {
                font-size: 1.4rem;
                line-height: 1.8rem;
                font-weight: 700;
                justify-content: flex-end;
                display: flex;
                @media screen and (min-width: $container-tablet) {
                  font-size: 2.1rem;
                }
              }

              .node__links {
                display: flex;
                font-weight: 500;
                font-size: 0.8rem;
                line-height: 0.9rem;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                font-family: $font-family-Ru;
                @media screen and (min-width: $container-tablet) {
                  font-size: 1.2rem;
                  line-height: 1.3rem;
                }

                ul {
                  padding-right: 0;
                  margin: 0;

                  li {
                    padding: 0;
                  }
                }
              }
            }

            &:nth-child(2n) {
              direction: rtl !important;
              @media screen and (min-width: $container-tablet) {
                direction: unset;
              }

              .views-field {
                display: flex;
                justify-content: flex-end;
                @media screen and (min-width: $container-tablet) {
                  display: inherit;
                  justify-content: unset;
                }

                a {

                  &:after {
                    transform: translateX(90px) translateY(-50%);
                    @media screen and (min-width: $container-tablet) {
                      transform: translateX(10px) translateY(-50%);
                    }
                  }
                }
              }
            }

            &:nth-child(4n) {
              @media screen and (min-width: $container-tablet) {
                direction: rtl;
              }

              .views-field-field-start-date {
                @media screen and (min-width: $container-tablet) {
                  justify-self: flex-end;
                  padding: pxToRem(30) 0 0 pxToRem(30);
                }
              }

              .views-field-title {
                @media screen and (min-width: $container-tablet) {
                  justify-self: flex-end;
                  padding-left: pxToRem(30);
                }
              }

              .views-field-view-node {
                @media screen and (min-width: $container-tablet) {
                  justify-self: flex-end;
                  padding: 0 0 pxToRem(30) pxToRem(30);

                  a {
                    &:after {
                      transform: translateX(120px) translateY(-50%);
                    }
                  }
                }
              }
            }

            &:nth-child(4n-1) {
              direction: unset;

              @media screen and (min-width: $container-tablet) {
                direction: rtl;
              }

              .views-field-field-start-date {
                @media screen and (min-width: $container-tablet) {
                  justify-self: flex-end;
                  padding: pxToRem(30) 0 0 pxToRem(30);
                }
              }

              .views-field-title {
                @media screen and (min-width: $container-tablet) {
                  justify-self: flex-end;
                  padding-left: pxToRem(30);
                }
              }

              .views-field-view-node {
                @media screen and (min-width: $container-tablet) {
                  justify-self: flex-end;
                  padding: 0 0 pxToRem(30) pxToRem(30);


                  a {
                    &:after {
                      transform: translateX(120px) translateY(-50%);
                    }
                  }
                }
              }
            }

            &:nth-child(4n-1),
            &:nth-child(4n) {
              @media screen and (min-width: $container-tablet) {
                .views-field-field-image {
                  position: relative;

                  &::before {
                    //background: url("../images/triangle.png") no-repeat;
                    content: "";
                    height: 0;
                    width: 0;
                    border-top: solid pxToRem(25) transparent;
                    border-left: solid pxToRem(30) #f9f9f9;
                    border-bottom: solid pxToRem(25) transparent;
                    top: 50%;
                    left: 0;
                    position: absolute;
                    z-index: 2;
                    transform: translateX(pxToRem(-50)) translateY(-50%);
                    transition: all 300ms linear;
                  }
                }

                &:hover {
                  .views-field-field-image {
                    &::before {
                      transition: all 300ms linear;
                      transform: translateX(-5px) translateY(-50%);
                      border-left: solid pxToRem(30) black;
                    }

                    .field-content {
                      position: relative;
                    }
                  }
                }
              }
            }

            &:nth-child(4n-2) {
              direction: unset;
              border-radius: 2rem;

              @media screen and (min-width: $container-tablet) {
                direction: ltr !important;
              }

              .field--name-field-start-date {
                justify-content: flex-end !important;

                @media screen and (min-width: $container-tablet) {
                  justify-content: flex-start !important;
                }
              }

              .field--name-title {
                justify-content: flex-end;

                @media screen and (min-width: $container-tablet) {
                  justify-content: flex-start;
                }
              }

              .node__links {
                justify-content: flex-end;

                @media screen and (min-width: $container-tablet) {
                  justify-content: flex-start;
                }
              }
            }

            &:nth-child(4n-3),
            &:nth-child(4n-2) {
              direction: unset;

              @media screen and (min-width: $container-tablet) {
                //border-radius: 2rem;
                direction: ltr;

                .views-field-field-image {
                  grid-area: 1 / 1 / 4 / 2;
                  position: relative;

                  img {
                    width: 100%;
                    height: 39.7rem;
                    object-fit: cover;
                    border-radius: 2rem 0 0 2rem;
                  }

                  &::before {
                    //background: url("../images/triangle.png") no-repeat;
                    content: "";
                    height: 0;
                    width: 0;
                    border-top: solid pxToRem(25) transparent;
                    border-right: solid pxToRem(30) #f9f9f9;
                    border-bottom: solid pxToRem(25) transparent;
                    top: 50%;
                    right: 0;
                    position: absolute;
                    z-index: 2;
                    transform: translateX(pxToRem(50)) translateY(-50%);
                    transition: all 300ms linear;
                  }

                  .field-content {
                    position: relative;
                  }
                }

                .views-field-field-start-date {
                  padding: pxToRem(30) 0 0 pxToRem(30);
                }

                .views-field-title {
                  padding-left: pxToRem(30);
                }

                .views-field-view-node {
                  padding: 0 0 pxToRem(30) pxToRem(30);
                }

                .event-data {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  padding: 3.2rem 3.2rem 3.2rem 0;

                  .field--name-field-start-date {
                    justify-content: flex-start;
                    display: flex;
                  }

                  .field--name-title {
                    justify-content: flex-start;
                    display: flex;
                  }

                  .node__links {
                    justify-content: flex-start;
                    display: flex;
                  }
                }

                &:hover {
                  background-color: $black;
                  transition: all 300ms linear;
                  border-radius: 2rem;

                  .views-field-field-image {
                    &::before {
                      transition: all 300ms linear;
                      transform: translateX(5px) translateY(-50%);
                      border-right: solid 30px black;
                    }

                    .field-content {
                      position: relative;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
