@import "./config/conversion";
@import "./config";

footer {
  .region-footer-copyright {
    background-color: $bg-footer;
    width: 100%;
    display: flex;
    justify-content: center;

    #block-copyright {
      padding: 9.2rem 0 4.7rem;
      max-width: $container;
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 auto;

      .field {
        display: flex;
        max-width: 40rem;
        width: 100%;
        justify-content: center;
      }
    }

    p {
      color: #666;
      font-size: 1rem;

      a {
        color: #666;
      }

      a:hover {
        font-weight: 500;
        color: $black;
      }
    }
  }

  .footer-container {
    background-color: $bg-footer;
    margin-left: 1.8rem;
    border-radius: 6rem 0 0;
    padding: 0 pxToRem(20);

    @media (min-width: $container-tablet) {
      border-radius: 9rem 0 0;
    }

    .region-footer {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 3.5rem 4rem;
      padding: 5.2rem 2rem 0 3.4rem;
      margin: 0 auto;

      @media (min-width: $container-tablet) {
        padding: 12.7rem 0 0;
        max-width: $container;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      h2 {
        font-size: $font-size-s;
        line-height: 1.4rem;
        margin: 0;
        font-weight: 700;
        @media screen and (min-width: $container-tablet) {
          font-size: $font-size-m;
          padding-bottom: 3rem;
        }
      }

      #block-sitebranding {
        grid-area: 1 / 1 / 3 / 2;

        img {
          height: 2.3rem;
          @media (min-width: $container-tablet) {
            height: unset;
          }
        }
      }

      #block-company {
        grid-area: 1 / 2 / 2 / 4;

        .field--name-body {
          p {
            font-size: $font-size-default;
            line-height: 1.7rem;
            color: #666;
            @media screen and (min-width: $container-tablet) {
              font-size: $font-size-s;
              line-height: 2.7rem;
            }
          }
        }

      }

      #block-services {
        grid-area: 1 / 4 / 2 / 6;

        p {
          font-size: $font-size-default;
          line-height: 1.7rem;
          font-weight: 400;
          @media (min-width: $container-tablet) {
            font-size: $font-size-s;
            line-height: 2.7rem;
          }
        }
      }

      #block-contactus {
        grid-area: 2 / 2 / 3 / 6;

        p {
          font-size: $font-size-default;
          line-height: 1.7rem;
          color: #666;
          @media (min-width: $container-tablet) {
            font-size: $font-size-s;
            line-height: 2.7rem;
          }
        }

        .social {
          display: flex;
          justify-content: space-between;
          width: 10rem;
          padding-top: 2rem;
          @media (min-width: $container-tablet) {
            padding: 2.7rem 0 0;
          }

          p {
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 2.7rem;
            margin: 0;

            a {
              color: #666;
            }
          }
        }
      }
    }
  }
}
