@import "./config/conversion";
@import "./config";

#nav-icon {
  width: pxToRem(20);
  height: pxToRem(12);
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 4;

  @media screen and (min-width: $container-tablet) {
    width: pxToRem(60);
    height: pxToRem(45);
  }

  span {
    display: block;
    position: absolute;
    height: pxToRem(2);
    width: 100%;
    background: black;
    border-radius: pxToRem(9);
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    @media screen and (min-width: $container-tablet) {
      height: pxToRem(6);
    }

    &:nth-child(1) {
      top: 0;
      width: 85%;
      right: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: pxToRem(5);
      @media screen and (min-width: $container-tablet) {
        top: pxToRem(15);
      }
    }

    &:nth-child(4) {
      top: pxToRem(10);
      width: 70%;
      right: 0;
      @media screen and (min-width: $container-tablet) {
        top: pxToRem(30);
      }
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top: pxToRem(18);
        width: 0;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: pxToRem(18);
        width: 0;
        left: 50%;
      }
    }
  }
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  max-height: pxToRem(111);

  @media screen and (min-width: 480px) {
    //left: calc(-50vw + 50%);
  }

  .head {
    .region-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: pxToRem(21) pxToRem(23) pxToRem(13) pxToRem(21);
      @media screen and (min-width: $container-tablet) {
        margin: 0 auto;
        max-width: 1380px;
      }

      &-branding {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 1;

        #block-onboarding-branding {
          .site-logo {
            img {
              height: 2.2rem;
              @media screen and (min-width: $container-tablet) {
                height: pxToRem(52);
              }
            }
          }

          .menu-icon {
            height: pxToRem(26);
          }
        }
      }

      .nav {
        position: fixed;
        color: #fff;
        transform: translateY(-120%);
        top: 0;
        transition: transform 0.5s ease;
        background: white;
        left: calc(-50vw + 50%);

        @media screen and (min-width: $container-tablet) {
          width: 100vw;
          height: 100vh;
        }

        .nav__content {
          height: 100vh;
          display: flex;
          flex-direction: column;
          width: 100vw;

          @media screen and (min-width: $container-tablet) {
            flex-direction: row;
            gap: pxToRem(158);
          }

          nav {
            background-color: rgb(104 181 214 / 55%);
            border-radius: 0 0 0 pxToRem(60);
            max-height: pxToRem(626);
            height: 100%;
            padding: 0;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.5s ease;
            margin-left: pxToRem(13);

            @media screen and (min-width: $container-tablet) {
              max-width: pxToRem(828);
              border-radius: 0 0 pxToRem(90);
              margin-top: -10px !important;
              max-height: pxToRem(1032);
            }

            .menu {
              margin: 0;

              &-item {
                a {
                  position: relative;
                  font-family: $font-family-Ar;
                  font-style: normal;
                  font-weight: 700;
                  font-size: $font-size-xxl-s;
                  line-height: pxToRem(42);
                  color: #fff;
                  transition: color 0.5s ease;

                  @media screen and (min-width: $container-tablet) {
                    font-size: $font-size-xxxl;
                    line-height: pxToRem(53);
                  }

                  &::after {
                    display: inline-block;
                    padding-left: 0;
                    transform: translateX(-20%) translateY(-50%);
                    content: "";
                    background: no-repeat url("../images/Arrow-right-black.png");
                    transition: all 0.3s ease-out;
                    opacity: 0;
                    position: absolute;
                    height: 2rem;
                    width: 8.5rem;
                    top: 50%;
                    background-size: 7.5rem;
                  }

                  &:hover {
                    color: black;
                    transition: color 0.5s ease;

                    &::after {
                      transform: translateX(5.8rem) translateY(-50%);
                      opacity: 1;
                    }
                  }
                }

                button {
                  position: relative;
                  font-size: $font-size-default;
                  line-height: pxToRem(24);
                  letter-spacing: pxToRem(2);
                  text-transform: uppercase;
                  background: #000;
                  border-radius: pxToRem(20);
                  font-family: $font-family-Ru;
                  font-style: normal;
                  font-weight: 500;
                  width: pxToRem(91);
                  height: pxToRem(38);
                  display: flex;
                  padding-left: pxToRem(15);
                  align-items: center;
                  border: none;
                  transition: width 0.3s ease;

                  @media screen and (min-width: $container-tablet) {
                    font-size: $font-size-s;
                    &::after {
                      display: inline-block;
                      padding-left: 0;
                      transform: translateX(0%) translateY(-50%);
                      content: "";
                      background: no-repeat url("../images/Arrow-right-white.png");
                      transition: all 0.3s ease;
                      opacity: 0;
                      position: absolute;
                      height: 1rem;
                      width: 3rem;
                      top: 50%;
                      background-size: 3rem;
                    }

                    &:hover {
                      width: pxToRem(130);
                      transition: width 0.3s ease;

                      &::after {
                        transform: translateX(6.8rem) translateY(-50%);
                        opacity: 1;
                      }
                    }
                  }
                }

                &:last-child {
                  padding-top: pxToRem(50);
                }
              }
            }
          }

          .nav__quote {
            display: flex;
            color: black;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            @media screen and (min-width: $container-tablet) {
              height: 100%;
              gap: pxToRem(250);
              align-items: unset;
            }

            #block-menucontactus {
              padding-top: pxToRem(50);
              @media screen and (min-width: $container-tablet) {
                margin-bottom: pxToRem(140);
                padding-top: unset;
              }

              h2 {
                display: none;
                font-family: $font-family-Ar;
                font-style: normal;
                font-weight: 700;
                font-size: $font-size-m;
                line-height: pxToRem(30);
                @media screen and (min-width: $container-tablet) {
                  display: block;
                }
              }

              p {
                font-family: $font-family-Ar;
                font-style: normal;
                font-weight: 400;
                font-size: $font-size-s;
                line-height: pxToRem(27);
              }
            }

            #block-menuquote {
              display: none;
              max-width: pxToRem(431);

              @media screen and (min-width: $container-tablet) {
                display: block;
              }

              p {
                padding-top: pxToRem(22);
                font-weight: 400;
                font-size: 18px;
                line-height: pxToRem(31);
              }

              blockquote {
                margin: 0;

                p {
                  font-family: $font-family-Ru;
                  font-style: normal;
                  font-weight: 500;
                  font-size: $font-size-l;
                  line-height: pxToRem(31);
                }
              }
            }

            #block-languageswitcher {
              position: absolute !important;
              bottom: pxToRem(90);

              .links {
                padding: 0;
                margin: 0;
                list-style: none;
              }
            }
          }
        }

        &.open {
          transform: translateY(0);
          width: 100%;
          left: calc(-50vw + 50%);
          top: 0;
        }
      }
    }
  }
}
