@import "./config/conversion";
@import "./config";

.path-locations {
  .region-hero {
    background: #f7f4f4 url("../images/toppng.png") no-repeat bottom -3.9rem right -2.1rem;
    background-size: pxToRem(157) pxToRem(194);

    @media screen and (min-width: $container-tablet) {
      background-size: unset;
    }

    &::before {
      display: none;
    }

    #block-title {
      p {
        color: black;
      }
    }
  }

  .region-content {
    #block-onboarding-content {
      .locations {
        .view-header {
          font-family: $font-family-Ru;
          font-style: normal;
          font-weight: 400;
          font-size: $font-size-m;
          line-height: pxToRem(48);
          padding-bottom: pxToRem(23);
          @media screen and (min-width: $container-tablet) {
            font-size: $font-size-l;
            letter-spacing: -1px;
          }
        }

        .view-content {
          grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
          display: grid;
          column-gap: 2.9rem;
          row-gap: 2.2rem;

          @media (min-width: $mq-desktop) {
            grid-template-columns: repeat(auto-fit, minmax(pxToRem(440), 1fr));
          }

          .locations-row {
            grid-template-columns: 1fr 10fr;
            display: grid;
            padding: pxToRem(8);
            background: #f5f5f7;
            border-radius: pxToRem(15);

            @media (min-width: $mq-desktop) {
              padding: 1.5rem;
              background-color: unset;
              border-radius: unset;

              &:hover {
                background-color: #f9f9f9;
                border-radius: 1.4rem;
              }
            }
          }

          .views-field-field-image {
            grid-column: 1;
            grid-row: 1 / 3;

            img {
              width: 7rem;
              border-radius: 1.2rem;
              height: 7rem;
              object-fit: cover;

              @media (min-width: $mq-desktop) {
                width: 11.4rem;
                border-radius: 2rem;
                height: 11.4rem;
              }
            }
          }

          .views-field-title {
            font-size: $font-size-m;
            font-weight: 700;
            margin-left: 2rem;
            color: black;
            display: flex;
            align-items: end;
            margin-bottom: 0.5rem;

            @media (min-width: $mq-desktop) {
              font-size: 2.1rem;
              margin-left: 4.2rem;
            }

            &:visited {
              color: black;
            }

            span a {
              cursor: pointer;
              display: inline-block;
              position: relative;
              transition: 0.5s;
            }

            span a::after {
              content: "\27F6";
              position: absolute;
              opacity: 0;
              top: -0.4rem;
              right: -2rem;
              transition: 0.5s;
            }

            span:hover a {
              padding-right: 5.5rem;
            }

            span:hover a::after {
              opacity: 1;
              right: 0;
            }
          }

          .views-field-field-equipment {
            margin-left: 2rem;
            font-size: 1.4rem;
            margin-top: 0.5rem;
            font-weight: 400;
            font-family: Roboto, serif;

            @media (min-width: $mq-desktop) {
              margin-left: 4.2rem;
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}
