@media screen and (max-width: 499px) {
  .visible {
    transform: translateY(0%) !important;
    transition: 500ms ease-in-out;
    display: block !important;
  }

  .hidden {
    display: none !important;
  }
}
