@import "./config/conversion";

.a2a_kit {
  display: none;

  @media screen and (min-width: $container-tablet) {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: pxToRem(480);
    left: pxToRem(66);
  }
}
