@import "./config/conversion";
@import "./config";

.layout-sidebar-first {
  h2 {
    font-family: $font-family-Ar;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-l;
    line-height: pxToRem(18);
  }
}
