@import "./config";
@import "./head";
@import "./companies";
@import "./events";
@import "./locations";
@import "./footer";
@import "./sidebar";
@import "./share-block";
@import "./base";

.visible {
  transform: translateY(0%) !important;
  transition: 500ms ease-in-out;
  display: block !important;
}

.hidden {
  display: none !important;
}

aside {
  h2 {
    @media (min-width: $mq-desktop) {
      font-size: 2.4rem;
      line-height: 3.1rem;
      font-family: Archivo, sans-serif;
    }
  }

  .field-content {
    padding: 0 !important;

    .event-data {
      .field--name-title {
        font-size: 2rem;
        line-height: 3.1rem;
        font-family: Archivo, sans-serif;
        font-weight: 600;
      }

      .field--name-body {
        p {
          font-family: Roboto, serif;
          font-size: pxToRem(16);
          font-weight: 400;
          line-height: pxToRem(26);
        }
      }

      .node__links {
        a {
          font-family: Roboto, serif;
          font-size: pxToRem(10);
          font-weight: 500;
          line-height: pxToRem(24);
          letter-spacing: pxToRem(2);
          text-align: left;
        }
      }
    }
  }
}
