@import "../config/conversion";
@import "../config";

.page-node-type-company {
  main {
    #main-content {
      display: none;
    }

    .layout-content {
      .region-content {
        #block-onboarding-page-title {
          max-width: pxToRem(190);
          @media screen and (min-width: $container-tablet) {
            max-width: unset;
          }
        }

        #block-onboarding-content {
          .node__content {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: $container-tablet) {
              display: block;
            }

            .company-header {
              display: flex;
              justify-content: space-between;
              order: 2;
              @media screen and (min-width: $container-tablet) {
                order: 1;
                margin-top: pxToRem(20);
              }

              .header-company-detail {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .field,
                a {
                  display: flex;
                  align-items: center;
                  font-family: $font-family-Ar;
                  font-style: normal;
                  font-weight: 500;
                  font-size: $font-size-default;
                  line-height: pxToRem(15);

                  @media (min-width: $mq-desktop) {
                    font-size: $font-size-m-l;
                    line-height: 1.7;
                    font-weight: 700;
                    height: 2.83rem;
                    padding-left: 0;
                  }
                }
              }

              .field--name-field-logo {
                display: none;

                @media (min-width: $mq-desktop) {
                  justify-self: flex-end;
                  align-self: center;
                  display: block;
                }

                img {
                  height: auto;
                  object-fit: contain;
                  max-width: pxToRem(250);
                  width: 100%;
                }
              }
            }

            .field--name-field-industry {
              order: 1;
              padding: 1rem 0 1.5rem;

              @media (min-width: $mq-desktop) {
                padding: pxToRem(40) 0 pxToRem(45);
                order: 2;
              }

              a {
                font-size: 1.2rem;
                line-height: 1.3rem;
                font-weight: 500;
                border-left: 0.4rem $yellow solid;
                padding: 0.3rem 0 0.3rem 1.6rem;

                @media (min-width: $mq-desktop) {
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 2rem;
                }
              }
            }

            .field--name-body {
              order: 3;
              padding-top: 6.6rem;

              @media (min-width: $mq-desktop) {
                padding: 0;
              }

              p {
                font-size: 1.4rem;
                line-height: 2rem;
                font-family: $font-family-Ru;
                font-weight: 400;

                @media (min-width: $mq-desktop) {
                  font-family: $font-family-Ro;
                  font-size: 1.6rem;
                  line-height: 2.6rem;
                }
              }
            }

            .field--name-field-quote {
              order: 4;

              .field--name-field-image {
                img {
                  border-radius: 2rem 0 0 2rem;
                  width: 18.3rem;
                  height: 15rem;
                  position: absolute;
                  top: 6rem;
                  right: 0;
                  object-position: pxToRem(30) 0;

                  @media (min-width: $mq-desktop) {
                    width: 26.5rem;
                    height: 21.7rem;
                    object-fit: contain;
                    position: unset;
                    top: unset;
                    right: unset;
                    object-position: unset;
                    border-radius: 2rem;
                  }
                }
              }

              .paragraph--type--quote {
                display: flex;
                justify-content: space-between;
                padding-top: 0;
                width: 30rem;
                flex-direction: column;

                @media (min-width: $mq-desktop) {
                  max-width: 78.4rem;
                  flex-direction: row;
                  padding-top: 5rem;
                  width: 100%;
                }

                .field--name-field-title {
                  max-width: 23rem;
                  padding: 10rem 0 0 5.3rem;
                  font-size: 1.8rem;
                  position: relative;
                  font-weight: 600;
                  width: 100%;

                  @media (min-width: $mq-desktop) {
                    max-width: 41.2rem;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    font-family: $font-family-Ar;
                    font-weight: 600;
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                  }

                  &::before {
                    position: absolute;
                    left: 0;
                    width: pxToRem(30);
                    height: pxToRem(20);
                    top: pxToRem(65);
                    content: "";
                    background: url("../../images/Quote.svg") no-repeat;
                    @media (min-width: $mq-desktop) {
                      position: absolute;
                      left: 32.1rem;
                      bottom: 13.4rem;
                      font-size: 72px;
                      font-family: $font-family-Ru;
                      color: #ffc107;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
