@import "../config/conversion";
@import "../config";

.page-node-type-event {
  main {
    .layout-content {
      .region-content {
        #block-onboarding-content {
          .node__content {
            position: relative;

            .node__links {
              .comment-add {
                a {
                  display: none;
                }
              }
            }

            .field--name-field-event-type {
              padding: 1.5rem 0 2.5rem;

              @media (min-width: $mq-desktop) {
                padding: 2.5rem 0 4.6rem;
              }

              .field__item {
                height: pxToRem(19);
                display: flex;
                @media (min-width: $mq-desktop) {
                  height: pxToRem(25);
                }

                a {
                  font-size: 1.2rem;
                  line-height: 1.3rem;
                  font-weight: 500;
                  padding: 0.3rem 0 0.3rem 0.8rem;

                  @media (min-width: $mq-desktop) {
                    border-left-width: 0.4rem;
                    font-size: 1.8rem;
                    line-height: 2rem;
                    font-weight: 600;
                    padding: 0.3rem 0 0.3rem 1.6rem;
                  }
                }
              }
            }

            .field--name-field-start-date,
            .field--name-field-end-date {
              .field__label {
                font-size: $font-size-default;
                font-family: $font-family-Ru;
                line-height: 1.5rem;
                font-weight: 500;

                @media (min-width: $mq-desktop) {
                  font-size: 1.8rem;
                  font-family: $font-family-Ro;
                  line-height: 3rem;
                  font-weight: 500;
                }
              }

              .field__items {
                .field__item {
                  font-size: $font-size-default;
                  font-family: $font-family-Ru;
                  line-height: 1.5rem;
                  font-weight: 400;

                  @media (min-width: $mq-desktop) {
                    font-size: 1.8rem;
                    font-family: $font-family-Ro;
                    line-height: 3rem;
                    font-weight: 400;
                  }
                }
              }
            }

            .field--name-body {
              padding-top: 5.8rem;

              @media (min-width: $mq-desktop) {
                padding-top: 4.3rem;
              }

              p {
                font-family: $font-family-Ro;
                font-size: $font-size-m;
                line-height: 2rem;
                font-weight: 400;

                @media (min-width: $mq-desktop) {
                  font-family: $font-family-Ro;
                  font-size: $font-size-m-l;
                  line-height: 2.6rem;
                  font-weight: 400;
                }
              }
            }

            .field--name-field-gallery {
              padding-top: 5.2rem;

              @media (min-width: $mq-desktop) {
                padding-top: 4.7rem;
              }

              .field--name-field-image-media {
                display: flex;
                justify-content: space-between;
                width: 36.1rem;

                @media (min-width: $mq-desktop) {
                  width: 100%;
                }

                img {
                  width: 6.4rem;
                  height: 6.4rem;
                  border-radius: 1.2rem;
                  object-fit: cover;

                  @media (min-width: $mq-desktop) {
                    width: 11.4rem;
                    height: 11.4rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
