@import "../config/conversion";
@import "../config";

.path-bookmarks {
  .view-content {
    grid-template-columns: repeat(auto-fit, minmax(299px, 1fr));
    margin: 0 auto;
    display: grid;
    gap: 5.4rem;

    .views-row {
      padding: pxToRem(12) pxToRem(12) pxToRem(24);
      background: $light-grey;
      border-radius: pxToRem(15);
      justify-self: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .views-field-field-image {
        grid-area: 1 / 1 / 2 / 3;

        img {
          width: pxToRem(280);
          height: pxToRem(140);
          object-fit: cover;
          border-radius: pxToRem(12);
        }
      }

      .views-field-type-1 {
        grid-area: 2 / 1 / 3 / 3;
        padding: pxToRem(6) pxToRem(11);
        background-color: $blue;
        width: pxToRem(56);
        box-sizing: border-box;
        border-radius: pxToRem(7);
        margin: pxToRem(12) 0 pxToRem(9) pxToRem(12);

        a {
          font-family: $font-family-Ar;
          font-size: $font-size-s;
          font-weight: 700;
          line-height: $font-size-xs-s;
          letter-spacing: 0;
          text-align: left;
        }
      }

      .views-field-title {
        grid-area: 3 / 1 / 4 / 3;
        margin-left: pxToRem(12);

        a {
          font-family: $font-family-Ar;
          font-size: $font-size-m-xl;
          font-weight: 700;
          line-height: pxToRem(22);
          letter-spacing: 0;
          text-align: left;
        }
      }

      .views-field-field-location {
        margin-left: pxToRem(12);
        margin-top: pxToRem(6);
        grid-area: 4 / 1 / 5 / 3;

        a {
          //styleName: CAPTION;
          font-family: $font-family-Ro;
          font-size: pxToRem(13);
          font-weight: 400;
          line-height: pxToRem(15);
          letter-spacing: 0;
          text-align: left;
        }
      }

      .views-field-view-node {
        grid-area: 5 / 1 / 6 / 2;
        width: pxToRem(122);
        height: pxToRem(41);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: pxToRem(10);
        margin: pxToRem(21) pxToRem(6) 0 pxToRem(12);

        a {
          font-family: $font-family-Ar;
          font-size: $font-size-m-l;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0;
          text-align: center;
          color: white;
        }
      }

      .views-field-link-flag-1 {
        grid-area: 5 / 2 / 6 / 3;
        width: pxToRem(122);
        height: pxToRem(41);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grey;
        border-radius: pxToRem(10);
        margin: pxToRem(21) pxToRem(12) 0 pxToRem(6);

        span {
          width: pxToRem(63);
          overflow: hidden;
          height: pxToRem(22);

          a {
            font-family: $font-family-Ar;
            font-size: $font-size-m-l;
            font-weight: 700;
            line-height: pxToRem(22);
            letter-spacing: 0;
            text-align: center;
          }
        }
      }
    }
  }
}
