@import "../config/conversion";
@import "../config";

.path-frontpage {
  .a2a_kit {
    display: none;
  }

  .region-content {
    #block-onboarding-content {
      .paragraph--type--text-with-image {
        display: flex;
        align-items: center;
        margin-top: pxToRem(50);
        flex-direction: column;
        gap: pxToRem(26);

        @media screen and (min-width: $container-tablet) {
          flex-direction: row;
          gap: pxToRem(70);
          margin-top: pxToRem(100);
        }

        img {
          max-width: 100%;
          min-width: 100%;
          object-fit: contain;
          height: 100%;
          @media screen and (min-width: $container-tablet) {
            min-width: pxToRem(420);
          }
        }

        .field--name-field-text {
          display: flex;
          flex-direction: column;

          @media screen and (min-width: $container-tablet) {
            gap: pxToRem(35);
          }

          h2 {
            margin: 0;
            font-size: $font-size-m;
            line-height: pxToRem(22);
            font-family: $font-family-Ar;
            font-style: normal;
            font-weight: 600;
            @media screen and (min-width: $container-tablet) {
              font-size: $font-size-xxl-s;
              line-height: pxToRem(42);
            }
          }

          p {
            font-size: $font-size-m;
            line-height: pxToRem(22);
            font-family: $font-family-Ar;
            font-style: normal;
            font-weight: 400;

            @media screen and (min-width: $container-tablet) {
              font-size: $font-size-l;
              line-height: pxToRem(31);
            }
          }

          &::after {
            display: none;
          }
        }
      }
    }

    .upcoming-events {
      margin-top: pxToRem(50);
      @media screen and (min-width: $container-tablet) {
        display: flex;
        justify-content: space-between;
        margin-top: pxToRem(100);
      }

      .block-views-blockevents-upcoming-events {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;

        @media screen and (min-width: $container-tablet) {
          flex-flow: unset;
          justify-content: unset;
          display: block;
        }

        h2 {
          flex: 0 0 100%;
          font-weight: 600;
          font-size: $font-size-l;
          line-height: pxToRem(27);
          font-family: $font-family-Ar;

          @media screen and (min-width: $container-tablet) {
            font-size: $font-size-xxl-s;
            line-height: pxToRem(42);
          }
        }

        .view-header {
          display: none;
        }

        .view-content {
          display: flex;
          gap: pxToRem(30);
          flex-direction: column;

          .events-row {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: pxToRem(65) 1fr 1fr;
            max-width: pxToRem(734);
            gap: pxToRem(6) pxToRem(24);
            height: pxToRem(65);

            @media screen and (min-width: $container-tablet) {
              grid-template-rows: 1fr 1fr;
              grid-template-columns: pxToRem(65) pxToRem(250) pxToRem(100) pxToRem(100) pxToRem(110);
            }

            .views-field-field-image {
              grid-row-start: 1;
              grid-column-start: 1;
              grid-row-end: 4;
              grid-column-end: 2;

              @media screen and (min-width: $container-tablet) {
                grid-row-start: 1;
                grid-column-start: 1;
                grid-row-end: 3;
                grid-column-end: 2;
              }

              img {
                max-width: pxToRem(65);
                max-height: pxToRem(65);
                border-radius: pxToRem(12);
              }
            }

            .views-field-title {
              grid-row-start: 1;
              grid-column-start: 2;
              grid-row-end: 2;
              grid-column-end: 4;
              @media screen and (min-width: $container-tablet) {
                grid-row-start: 1;
                grid-column-start: 2;
                grid-row-end: 2;
                grid-column-end: 3;
                align-self: end;
              }

              a {
                font-family: Archivo, serif;
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: pxToRem(16);
                @media screen and (min-width: $container-tablet) {
                  font-size: $font-size-m-l;
                  line-height: pxToRem(17);
                }
              }
            }

            .views-field-field-location {
              grid-row-start: 2;
              grid-column-start: 2;
              grid-row-end: 3;
              grid-column-end: 4;
              @media screen and (min-width: $container-tablet) {
                grid-row-start: 2;
                grid-column-start: 2;
                grid-row-end: 3;
                grid-column-end: 3;
                align-self: start;
              }

              a {
                font-family: Roboto, serif;
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: pxToRem(15);
              }
            }

            .views-field-field-start-date {
              grid-row-start: 3;
              grid-column-start: 2;
              grid-row-end: 4;
              grid-column-end: 3;
              font-family: Roboto, serif;
              font-style: normal;
              font-weight: 400;
              font-size: $font-size-default;
              line-height: pxToRem(12);
              display: flex;
              align-items: center;
              gap: pxToRem(5);

              @media screen and (min-width: $container-tablet) {
                grid-row-start: 1;
                grid-column-start: 3;
                grid-row-end: 3;
                grid-column-end: 4;
                align-self: center;
                font-size: 13px;
                line-height: pxToRem(15);
              }

              &::before {
                content: url("../../images/calendar.png");
              }
            }

            .views-field-field-start-date-1 {
              grid-row-start: 3;
              grid-column-start: 3;
              grid-row-end: 4;
              grid-column-end: 4;
              font-family: $font-family-Ro;
              font-style: normal;
              font-weight: 400;
              font-size: $font-size-default;
              line-height: pxToRem(12);
              display: flex;
              align-items: center;
              gap: pxToRem(5);
              justify-self: center;

              @media screen and (min-width: $container-tablet) {
                grid-row-start: 1;
                grid-column-start: 4;
                grid-row-end: 3;
                grid-column-end: 5;
                align-self: center;
                font-size: 13px;
                line-height: pxToRem(15);
              }

              &::before {
                content: url("../../images/clock.png");
              }
            }

            .views-field-view-node {
              display: none;
              @media screen and (min-width: $container-tablet) {
                grid-row-start: 1;
                grid-column-start: 5;
                display: flex;
                grid-row-end: 3;
                grid-column-end: 6;
                align-self: center;
                justify-self: end;
              }

              a {
                font-family: Roboto, serif;
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: pxToRem(15);
                padding: pxToRem(12.5) pxToRem(23);
                background: #f9f9f9;
                border-radius: pxToRem(50);
                transition: all 0.5s ease-out;

                &:hover {
                  background: black;
                  color: white;
                }
              }
            }
          }
        }
      }

      .block-views-blockevents-homepage-events-images {
        max-width: pxToRem(479);

        @media screen and (min-width: $container-tablet) {
          padding: 0;
          margin-top: pxToRem(68);
        }

        h2 {
          font-family: $font-family-Ar;
          font-style: normal;
          font-weight: 600;
          font-size: $font-size-l;
          line-height: pxToRem(27);
          letter-spacing: -1px;

          @media screen and (min-width: $container-tablet) {
            display: none;
          }
        }

        .view-header {
          font-family: $font-family-Ar;
          font-style: normal;
          font-weight: 400;
          font-size: $font-size-m;
          line-height: pxToRem(22);

          @media screen and (min-width: $container-tablet) {
            display: none;
          }
        }

        .view-content {
          max-width: pxToRem(218);
          margin: 0 auto;
          gap: pxToRem(8);
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: auto 1fr;
          padding-top: pxToRem(50);

          @media screen and (min-width: $container-tablet) {
            max-width: unset;
            gap: unset;
            display: flex;
            padding-top: 0;
          }

          .events-gallery-row {
            width: auto;
            height: pxToRem(130);
            @media screen and (min-width: $container-tablet) {
              width: unset;
              height: unset;
              display: none;
              position: relative;
              transition: all 0.3s ease-out;

              &::after {
                content: "";
                display: inline-block;
                width: pxToRem(420);
                height: pxToRem(530);
                margin-right: pxToRem(5);
                border-radius: pxToRem(20);
                background-color: $grey;
                position: absolute;
                z-index: -1;
                bottom: pxToRem(58);
                left: pxToRem(56);
              }
            }

            &:first-child,
            &:last-child {
              height: pxToRem(80);

              @media screen and (min-width: $container-tablet) {
                height: unset;
              }
            }

            &:first-child {
              margin-top: 0 !important;
              display: flex;
            }

            &:nth-child(2n+1) {
              margin-top: pxToRem(-65);
              @media screen and (min-width: $container-tablet) {
                margin-top: unset;
              }
            }

            &:nth-child(2) {
              margin-top: pxToRem(15);
              @media screen and (min-width: $container-tablet) {
                margin-top: unset;
              }
            }

            .views-field-field-image {
              height: 100%;

              .field-content {
                height: 100%;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: pxToRem(20);

                  @media screen and (min-width: $container-tablet) {
                    max-width: pxToRem(420);
                    height: pxToRem(530);
                  }
                }
              }
            }
          }
        }
      }
    }

    .block-views-blockcompanies-featured-companies {
      margin-top: pxToRem(50);
      @media screen and (min-width: $container-tablet) {
        margin-top: pxToRem(155);
        width: 100%;
      }

      h2 {
        font-weight: 600;
        font-size: $font-size-l;
        line-height: pxToRem(31);
        margin-bottom: pxToRem(26);
        font-family: Archivo, serif;
        font-style: normal;
        letter-spacing: -1px;

        @media screen and (min-width: $container-tablet) {
          font-weight: 600;
          font-size: $font-size-xxl-s;
          margin-bottom: pxToRem(40);
          line-height: pxToRem(48);
        }
      }
    }
  }
}
