@import "../config/conversion";
@import "../config";

.page-node-type-location {
  main {
    .layout-content {
      .region-content {
        #block-onboarding-content {
          .node__content {
            display: flex;
            flex-direction: column;

            .contact {
              padding-top: pxToRem(10);
              order: 2;

              .field,
              a {
                display: flex;
                align-items: center;
                font-family: $font-family-Ar;
                font-style: normal;
                font-weight: 500;
                font-size: $font-size-default;
                line-height: pxToRem(15);

                @media screen and (min-width: $container-tablet) {
                  font-size: 1.6rem;
                  line-height: 1.7;
                  font-weight: 700;
                  height: 2.83rem;
                  padding-left: 0;
                }
              }

              @media screen and (min-width: $container-tablet) {
                padding-bottom: 6.5rem;
                padding-left: 0;
                height: 8.5rem;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                padding-top: 0;
              }

              div {
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 500;

                @media screen and (min-width: $container-tablet) {
                  font-size: 1.6rem;
                  line-height: 1.7rem;
                  font-weight: 700;
                }
              }
            }

            .event-type {
              order: 1;
              margin-top: pxToRem(15);
              @media screen and (min-width: $container-tablet) {
                padding: pxToRem(20) 0 pxToRem(43);
              }

              a {
                border-left: 0.3rem $yellow solid;
                font-size: $font-size-s;
                line-height: 1.3rem;
                font-weight: 500;
                padding: 0.3rem 0 0.3rem 0.8rem;
                font-family: $font-family-Ar;
                font-style: normal;
                @media screen and (min-width: $container-tablet) {
                  font-weight: 600;
                  font-size: 18px;
                  line-height: pxToRem(20);
                }
              }
            }

            .description {
              margin-top: pxToRem(50);
              padding-bottom: 5rem;
              order: 3;
              @media screen and (min-width: $container-tablet) {
                padding: 0;
                margin-top: unset;
              }

              p {
                font-family: $font-family-Ru;
                font-size: $font-size-m;
                line-height: 2rem;
                color: $black;

                @media screen and (min-width: $container-tablet) {
                  font-size: $font-size-m-l;
                  line-height: 2.6rem;
                }
              }
            }

            .image-equipment {
              order: 4;
              @media screen and (min-width: $container-tablet) {
                display: flex;
                padding-top: 5rem;
                gap: pxToRem(39);
              }

              .field--name-field-image {
                img {
                  border-radius: 2rem 0 0 2rem;
                  width: 18.3rem;
                  height: 15rem;
                  position: absolute;
                  top: 6rem;
                  right: 0;
                  object-position: 0 0;

                  @media screen and (min-width: $container-tablet) {
                    width: 31.4rem;
                    height: 24.2rem;
                    border-radius: 1.2rem;
                    object-fit: cover;
                    position: unset;
                  }
                }
              }

              .eqipment {
                display: flex;
                align-items: center;

                .field--name-field-equipment {
                  padding: 0;
                  column-gap: 1.3rem;
                  row-gap: 1rem;
                  grid-template-columns: 14.9rem 14.9rem;
                  display: grid;

                  @media screen and (min-width: $container-tablet) {
                    column-gap: 2.9rem;
                    row-gap: 2.2rem;
                    grid-template-columns: 19rem 19rem;
                    align-items: center;
                  }

                  .field__item {
                    background: #f5f5f7;
                    border-radius: 1.4rem;
                    height: 4.1rem;
                    place-self: stretch;
                    display: flex;
                    align-items: center;

                    @media screen and (min-width: $container-tablet) {
                      border-radius: 1.4rem;
                      height: 6.3rem;
                    }

                    a {
                      font-size: $font-size-s;
                      line-height: 1.3rem;
                      text-transform: capitalize;

                      @media screen and (min-width: $container-tablet) {
                        font-size: $font-size-m-l;
                        line-height: 1.7rem;
                      }

                      &::before {
                        font-family: "Font Awesome 5 Free", serif;
                        font-weight: 900;
                        content: "\f00c";
                        padding: 0 1.8rem;
                      }
                    }
                  }
                }
              }
            }

            .field--name-field-geofield {
              order: 5;
              display: none;

              @media screen and (min-width: $container-tablet) {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
