@import "../config/conversion";
@import "../config";

.field--name-field-image {
  img {
    width: 100%;
    height: 100%;
  }
}

.page-node-type-news {
  .page-title {
    font-family: $font-family-Ar;
    font-size: 48px !important;
    font-weight: 700;
    line-height: 52px !important;
    letter-spacing: 0;
    text-align: left;
    padding: 46px 0 22px;
  }

  article {
    .node__meta {
      .node__submitted {
        display: flex;
        align-items: center;
        padding-bottom: 41px;
        font-family: $font-family-Ar;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0;
        text-align: left;

        .field--name-field-news-category {
          margin-left: 15px;
          border-left: solid 4px $yellow;
          padding-left: 15px;

          a {
            font-family: $font-family-Ar;
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0;
            text-align: left;
          }
        }
      }
    }

    .node__content {
      .field--name-body {
        p {
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0;
          text-align: left;
          padding-bottom: 37px;
        }

        .showMore {
          margin-top: -15px;
        }
      }

      .field--name-field-news-category {
        display: none;
      }
    }

    .cta-news {
      height: 500px;

    }
  }

  img {
    //display: none;
  }

  .region-below-content {
    #block-ctanews {
      height: 500px;
      background-color: $grey;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 90px;

      .field--name-body {
        .cta-news {
          .cta-news-title {
            font-family: $font-family-Ar;
            font-style: normal;
            font-weight: 500;
            font-size: 42px;
            line-height: 42px;
            text-align: center;
            margin: 0;
            padding-bottom: 11px;
          }

          .cta-news-description {
            font-family: $font-family-Ru;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 36px;
          }

          .cta-news-buttons {
            display: flex;
            gap: 21px;
            justify-content: center;

            button {
              width: 110px;
              height: 39px;
              border-radius: 20px;
              border: 1px solid #000000;
              font-family: $font-family-Ru;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 24px;
              /* or 200% */

              letter-spacing: 2px;
              text-transform: uppercase;

              &:first-child {
                background-color: black;
                color: white;
              }

              &:nth-child(2) {
                background-color: white;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}
