@import "../config/conversion";
@import "../config";

.view-content {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(310px, 1fr) );
  gap: 50px;
  margin-top: 50px;

  .views-row {
    border-radius: 20px;
    border: #eee 1px solid;
    position: relative;
    display: flex;
    flex-direction: column;


    .views-field-field-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .views-field-title {
      padding: 15px 15px;
      font-size: 20px;

    }

    .views-field-body {
      padding: 0 10px 20px 15px;

      p {
        font-size: 14px;
      }
    }

    .views-field-view-node {
      margin: auto 15px 10px 15px;

      a {
        color: white;
        padding: 10px;
        background-color: black;
        width: 100%;
        box-sizing: border-box;
        display: block;
        border-radius: 10px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;

        &:after {
          background: #fff;
          content: "";
          height: 155px;
          left: -75px;
          opacity: .2;
          position: absolute;
          top: -50px;
          transform: rotate(35deg);
          transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
          width: 50px;
        }

        &:hover {

          &:after {
            left: 120%;
            transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
      }
    }
  }
}


