@use "../mixins/form-mixin";
@import "../config";

#block-onboarding-page-title {
  padding-top: 224px;
}

#block-userpageslinks {
  margin-top: 25px;
  .field {
    display: flex;
    gap: 20px;

    a {
      padding: 9px 19px;
      font-family: $font-family-Ar;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0;
      text-align: left;
      background-color: #F5F5F7;
      border-radius: 10px;
    }
  }
}

.user-login-form {
  @include form-mixin.form-item;

  input,
  textarea {
    @media screen and (min-width: $container-tablet) {
      width: 100%;
    }
  }

  .description {
    display: none;
  }
}

.user-pass {
  @include form-mixin.form-item;

  input,
  textarea {
    @media screen and (min-width: $container-tablet) {
      width: 100%;
    }
  }

  p {
    font-family: $font-family-Ru;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    padding-left: 10px;
  }
}

.user-register-form {
  @include form-mixin.form-item;

  input,
  textarea {
    @media screen and (min-width: $container-tablet) {
      width: 100%;
    }
  }

  .description {
    font-family: $font-family-Ar;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
  }

  #edit-contact {
    margin-top: 35px;
    border: none;

    summary {
      font-family: $font-family-Ar;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0;
      text-align: left;

    }

    .details-wrapper {
      .form-type-checkbox {
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        padding: 15px 10px;
        background-color: #F5F5F7;
        border-radius: 10px;
        width: 100%;

        .form-checkbox {
          width: 18px;
          height: 15px;
          margin-top: 0;
        }

        .option {
          font-family: $font-family-Ar;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0;
          text-align: left;
          min-width: 150px;
        }

        .description {
          font-family: $font-family-Ar;
          font-size: 8px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
    }
  }

  #edit-actions {
    input {
      width: 210px;
      font-family: $font-family-Ru;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
      /* or 200% */

      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}

#edit-actions {
  padding-top: 40px;
  @include form-mixin.submit-button;
}

